input[type="file"]{
  visibility: hidden;
}
.image-preview{
  height: 13rem;
  margin: 1rem 0
}
.image-preview img{
 height: 100%;
}
.createPage-component{
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.loading-spinner-item{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
mat-spinner{

  margin:auto;
}