.app-root-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(var(--b3f,250,250,250),1);

}
.header-container{
  height: 54px;
}
.main-content{
  height: calc(100% - 54px);
  overflow: auto;
  margin: 0 auto;
}
                           /* Responsive Design  */
@media (min-width: 992px) {   /*medium screen Rules*/


}


