.postlist-component {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-section {
  max-width: 614px;
  margin-inline-end: 12px;
}
.suggestion-component {
  width: 328px;
}
.content {
  margin: auto;
  max-width: 975px;
}
.loading-spinner-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-spinner {
  margin: auto;
}
.fetching-spinner-item {
  display: grid;
  place-items: center;
  margin-top: 10px;
}

cdk-virtual-scroll-viewport {
  /* overflow: auto;
 contain:none; */
}

virtual-scroller {
  width: 100%;
  height: 100%;
}

.post-container {
  /* display: block; */
  width: 100%;
  height: 100%;

}

@media (max-width: 992px) {   /*medium screen Rules*/

  .suggestion-component{
    display: none;
  }
  .post-section {
    margin: 0;
  }

}
