.posts-component{
  height: 100%;

}
.content{
  margin:auto;
  max-width: 975px;
}
.loading-spinner-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
mat-spinner{
    margin:auto;
  }
  .fetching-spinner-item {
    display: grid;
    place-items: center;
    margin-top: 10px;
}


cdk-virtual-scroll-viewport {
 /* overflow: auto;
 contain:none; */
}
.test{
  width: 50%;
  background-color: red;
}
