<div class="user-profile-component">
  <aside>
    <div class='col-stats'>
      <strong>444</strong>
      <br/>
      posts
    </div>
    <div class='col-stats'>
      <strong>292</strong>
      <br/>
      followers
    </div>
    <div class='col-stats'>
      <strong>8292</strong>
      <br/>
      following
    </div>
  </aside>
  
  <section>
    <div>
        <img src="http://res.cloudinary.com/paperhat7/image/upload/v1506619371/instagram-clone/natgeo-01.jpg
" alt="">
       <h5>Monks</h5>
    </div>
    <div>   
      <img src="  http://res.cloudinary.com/paperhat7/image/upload/v1506619371/instagram-clone/natgeo-02.jpg
" alt="">
      <h5>Hallway</h5>
    </div>
    <div>
        <img src="http://res.cloudinary.com/paperhat7/image/upload/v1506619373/instagram-clone/natgeo-04.jpg
" alt="">
       <h5>Cold Bear</h5>

    </div>
    <div><img src="    http://res.cloudinary.com/paperhat7/image/upload/v1506619371/instagram-clone/natgeo-03.jpg
" alt="">
      <h5>Mother</h5>
    </div>
    <div> 
      <img src="  http://res.cloudinary.com/paperhat7/image/upload/v1506619371/instagram-clone/natgeo-06.jpg
" alt="">
      <h5>Baby Monkey</h5>

    </div>
    <div>
      <img src="  http://res.cloudinary.com/paperhat7/image/upload/v1506619372/instagram-clone/natgeo-07.jpg
" alt="">
       <h5>Winter</h5>     
    </div>
    <div>
      <img src="http://res.cloudinary.com/paperhat7/image/upload/v1506619371/instagram-clone/natgeo-01.jpg
" alt="">
     <h5>Monks</h5>
  </div>
  <div>   
    <img src="  http://res.cloudinary.com/paperhat7/image/upload/v1506619371/instagram-clone/natgeo-02.jpg
" alt="">
    <h5>Hallway</h5>
  </div>
  <div>
      <img src="http://res.cloudinary.com/paperhat7/image/upload/v1506619373/instagram-clone/natgeo-04.jpg
" alt="">
     <h5>Cold Bear</h5>

  </div>
  <div><img src="    http://res.cloudinary.com/paperhat7/image/upload/v1506619371/instagram-clone/natgeo-03.jpg
" alt="">
    <h5>Mother</h5>
  </div>
  <div> 
    <img src="  http://res.cloudinary.com/paperhat7/image/upload/v1506619371/instagram-clone/natgeo-06.jpg
" alt="">
    <h5>Baby Monkey</h5>

  </div>
  <div>
    <img src="  http://res.cloudinary.com/paperhat7/image/upload/v1506619372/instagram-clone/natgeo-07.jpg
" alt="">
     <h5>Winter</h5>     
  </div>
  
  </section>

</div>
 

  